.html
.httr-oauth
.junk
.Rapp.history
.Rbuildignore
.RData
.Rhistory
.Rproj.user
*-Ex.R
*.dll
*.DS_Store
*.knit.md
*.o
*.so
*.utf8.md
/*_cache/
/*.Rcheck/
/*.tar.gz
/cache/
README.Rmd
src-i386
src-x64
vignettes/*.html
vignettes/*.pdf

ggdistribute.code-workspace
ggdistribute.Rproj
